*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  background-color: PaleTurquoise;
  display: grid;
  place-items: center;
  height: auto;

}
header{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.container{
  background-image: linear-gradient(oliveDrab, yellow) ;
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
  padding: .1rem;
  width: 50%;
  height: auto;
  border-radius: .6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30), 0 14px 11px rgba(0, 0, 0, 0.22);

}
h1{
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;

}
.card{
  width: 100%;
  border-radius: 1.8rem;
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;

}
 input[name = 'searchInput']{
  border-radius: 1.1rem;
  border: 0;
  outline: 0;
  height: 100%;
  font-size: 1rem;
  padding: .6rem 1rem;
  min-width: 30%;

}
.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: min-content;
  font-size: 1rem;
  height: 100%;
  padding: .6rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-left: 1rem;
}
.notification{
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}
img{
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: max-content;

}
.temp{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;

}
.description{
  font-size: 1.2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.location{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.box{
  display: flex;
  justify-content: space-around;
}
.box1{
  display: flex;
}
.humidityIcon{

}
.boxCon{
display: flex;
flex-direction: column;
}


  @media screen and (max-width: 767px){
    html{
      font-size: 12px;
    }
    container{
      width: 100%;
      top: 20%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    .card{
      flex-direction: column;
      justify-content: center;
    }
    input[name = 'searchInput']{
       margin-bottom: .5rem;
         padding: 0.6rem 0.5rem;
         border-radius: 1rem;
         min-width: 90%;
     }
     .search-icon{
       margin-left: 0;
     }
  }
